.teacher-card {
    height: 120px;
    position: relative;
    border: lightsalmon solid 1px;
    border-radius: 0;
}

.teacher-card:hover{
    background-color: azure;
}

.teachers-p1{
    display: block;
    position: absolute;
    top: 10px;
    left: 40px;
    width: 100px;
    height: 20px;
    font-size: 30px;
    color: cornflowerblue;
}

.teachers-p2{
    display: block;
    position: absolute;
    top: 80px;
    left: 40px;
    width: 600px;
    height: 20px;
    font-size: 18px;
    font-weight: initial;
}

.teachers-b1{
    position: absolute;
    top: 20px;
    left: 145px;
    color: lightsalmon;
}

.teachers-b2{
    position: absolute;
    top: 65px;
    right: 50px;
    color: white;
    background-color: coral;
}

.teachers-like{
    margin-left: 760px;
    margin-right: 15px;
    margin-top: 48px;
    font-size: 25px;
}

.teachers-star{
    font-size: 25px;
}
