.filerate-all{
    width: 800px;
    height: 50px;
    position: fixed;
    left: 195px;
    top: 134px;
}

.filerate-body{
    width: 1000px;
    height: 120px;
    position: fixed;
    top: 60px;
    left: 195px;
    background-color: #f3f3f5;
    z-index: 999;
}


.filerate-line{
    width: 200px;
    margin-right: 10px;
    /*border: lightsalmon solid 1px;*/
    border-radius: 6px;
    background-color: white;
}

.filterate-search{
    width: 950px;
    height: 40px;
    position: fixed;
    left: 195px;
    top: 80px;
}